<div class="profile gft_block" id="friend_block" style="display: none">
    <div class="name" id="friend_name"></div>
    <div class="l">
    <div class="photo" style="width: 190px; height: 190px;"><img id="friend_ava" width="190" height="190" alt=" "></div>
    <p id="friend_bday_block"><em>День рождения:</em> <span id="friend_bday"></span></p>
    <a id="friend_gifts_answer" class="btn2" href="#">Сделать подарок!</a> </div>
    <!-- end .l-->

    <div class="r">
        <div id="friend_gifts_loader" class="loader_special_2 gft_loader" style="display:none"></div>

        <div id="friend_gifts" class="block">
            <header class="title" id="friend_title">Его подарки</header>

            <div class="slider2" id="friend_gifts_none" style="display:none">
                <div class="done">
                    <p class="big" id="friend_gifts_none_text">У него еще нет подарков, сделайте подарок первым!</p>
                </div>
            </div>

            <div class="slider2" id="friend_gifts_all">
                <section class="catalog" id="friend_gift_list">
                </section>

                <div id="friend_gifts_nav">
                    <div class="prev" onclick="view.friends.scrollGifts('back')"></div>
                    <div class="next" onclick="view.friends.scrollGifts('forward')"></div>
                </div>
            </div>
            <!-- end .slider2--> 
        </div>
        <!-- end .block--> 
    </div>
    <!-- end .r--> 

</div>
<!-- end .profile--> 
