<div class="block gft_block" id="friend_block">
    <div class="name" id="friend_name"></div>

    <div id="friend_control" style="margin-bottom: 25px">
        <a href="#" id="friend_send_gift" class="button white medium fw_normal ts_none bb">
            <i class="button_icon make_gift"></i> 
            <span>Сделать подарок</span>
        </a> 

        <a href="#" id="friend_send_heart" class="button white medium fw_normal ts_none bb">
            <i class="button_icon make_heart"></i> 
            <span>Подарить сердечко</span>
        </a> 

        <a href="#" id="friend_send_message" class="button white medium fw_normal ts_none bb">
            <i class="button_icon make_message"></i> 
            <span>Написать сообщение</span>
        </a> 
    </div>

    <div id="friend_gifts">
        <header class="title" id="friend_title">Его подарки</header>

        <div class="slider2" id="friend_gifts_none" style="display:none">
            <div class="done" style="margin-top: 100px">
                <p class="big" id="friend_gifts_none_text">У него еще нет подарков, сделайте подарок первым!</p>
                <div style="margin-top: 10px;">
                    <button id="friend_make_gift" class="button green">Сделать подарок!</button>  
                </div>
            </div>
        </div>

        <div class="slider2" id="friend_gifts_all">
            <section class="catalog" id="friend_gift_list">
            </section>

            <div id="friend_gifts_nav">
                <div class="prev" onclick="cntrl_friend.scrollFriendGifts('back')"></div>
                <div class="next" onclick="cntrl_friend.scrollFriendGifts('forward')"></div>
            </div>
        </div>
    </div>
</div>
