<div class="block gft_block" id="friends_all_block">
    <div class="search">
        <fieldset>
            <input id="friend_all_query" value="Начните вводить имя друга..." type="text">
        </fieldset>
    </div>
    <header class="title2" style="width: 200px">Выберите друга</header>
    <div class="slider2 people-slider">
        <div class="hold">
            <ul>
                <li>
                    <section class="people2" id="friends_all">
                    </section>
                    <!-- end .people2--> 
                </li>
            </ul>
        </div>

        <div id="friends_all_nav">
            <div class="prev" onclick="cntrl_friends.scrollFriends('back'); return false;"></div>
            <div class="next" onclick="cntrl_friends.scrollFriends('forward'); return false;"></div>
        </div>
    </div>
</div>

