<div class="block gft_block" id="friends_block">
    <div class="search">
        <fieldset>
            <input id="friend_search_query" value="Начните вводить имя друга..." type="text">
        </fieldset>
    </div>

    <header class="title2" style="width: 200px">Выберите друга</header>

    <div class="slider2 people-slider">
        <div class="hold">
            <ul>
                <li>
                    <section class="people2" id="friends">
                    </section>
                </li>
            </ul>
        </div>

        <div id="friends_sel_nav">
            <div class="prev" onclick="cntrl_friends_sel.scrollFriends('back'); return false;"></div>
            <div class="next" onclick="cntrl_friends_sel.scrollFriends('forward'); return false;"></div>
        </div>
    </div>
</div>
