<div class="block gft_block want_gift" id="want_gift" style="margin-bottom: 20px; padding: 0px;">
    <h3>Они хотят ваших цветов!</h3>
    <div id="circle_loader" class="loader_circle" style="display:none"></div>

    <div id="circle_content" class="slider2 people-slider" style="padding: 0px;">
        <a href="#" id="friend_send_gift" onclick="cntrl_index.addInCircle()" class="button green want_button">
            <span>Хочу<br />сюда!</span>
        </a> 
        <div class="hold" style="height: 90px; width: 650px;  margin-left: 8px; float: left;">
            <section id="want_gift_list" class="people2">
            </section>
        </div>
    </div>

    <div id="circle_error" class="circle_error" style="display: none">
        Упс! Вам не хватает <span id="circle_error_text"></span> на счете!
        <div style="margin-top: 5px;" >
            <button href="#balance_window" class="button green increase_balance">Пополните баланс!</button>
        </div>
    </div>

    <div class="info2 grey" style='text-align: right; clear: both; padding: 0px 10px 5px 10px;'>
        Стоимость: {{ config.circle_cost }} монет
    </div>
</div>

<div class="block gft_block back_orange" id="friends_hearts_top" style="margin-bottom: 20px; padding: 0px;">
    <div class="top_block back_yellow" style="width: 290px; border-right: 1px solid #a08b75">
        <h3>Топ друзей</h3>
        <div class="slider2 people-slider" style="padding: 0px">
            <div class="hold" style="height: 105px; margin-left: 10px;">
                <section id="friends_top_list" class="people2">
                </section>
                <div class="no_top" id="no_friends_top" style="height: 105px;">
                    <p class="info2">
                        За каждого друга, который установит<br>
                        приложение вы получаете <b style="color: orange">+{{ config.invite_bonus }} монет!</b>
                    </p>
                    <p class="btn-hold"><button class="button orange small" onclick="cntrl_purchase.inviteFriends()">Пригласить друзей!</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="top_block back_orange" style="width: 460px;">
        <h3>Топ самых любимых</h3>
        <div class="slider2 people-slider" style="padding: 0px">
            <div class="hold" style="height: 105px; margin-left: 8px;">
                <section id="hearts_top_list" class="people2">
                </section>
            </div>
        </div>
    </div>
</div>

<div class="block heart_block" id="heart_promo">
    <div class="heart_wings_small"></div>
    <div class="text" style="margin-top: 17px">
        <span id="hearts_text_limit" style="display: inline-block; margin-top:-7px; line-height: 20px;">Бесплатный цветок можно отправить через <b style="color: #721704" id="hearts_limit_interval"></b></span>
        <span id="hearts_text_ok">Вы можете отправить цветок своим друзьям бесплатно!</span>
    </div>
    <div style="float: left; margin-top: 7px;">
        <button id="send_hearts_button" onclick="cntrl_heart.set()" class="button green">Отправить!</button>  
    </div>
</div>


<div id="gifts_my_block" class="gft_block">
    <header class="title">Мои награды</header>
    <div class="slider">
        <div class="hold">
            <section id="gifts_my" class="catalog">
            </section>
            <!-- end .catalog--> 
        </div>

        <div id="open_navi">
            <div onclick="cntrl_index.scrollMyGifts('back')" class="prev"></div>
            <div onclick="cntrl_index.scrollMyGifts('forward')" class="next"></div>
        </div>
    </div>
</div>

<div class="block gft_block" id="gifts_catalog" style="margin-bottom: 20px;">
    <div class="big_title">Поздравь подруг с 8 марта! Подари подарок!</div>
    <div class="info grey" style="text-align: right">
        Цена : {{ config.gift_price }} монет
        <p>Каждый подарок приносит получателю <b style="color: #721704">+{{ config.gift_hearts_count }} монет</b></p>
    </div>

    <div id="gifts_block" class="slider2">

        <div id="gifts_block_loader" class="loader gft_loader" style="display: none"></div>

        <section id="gifts_list" class="catalog">
        </section>
    </div>
</div>

