<div class="gft_block" id="holidays" style="margin-bottom: 15px;">
    <header class="title" style="margin-bottom: 5px;">Праздники</header>
    
    <section id="holidays_list" class="holiday_catalog">
    </section>
</div>
