<div id="gifts_my_block" class="gft_block">
    <header class="title">Мои валентинки</header>
    <div class="slider">
        <div class="hold">
            <section id="gifts_my" class="catalog">
            </section>
            <!-- end .catalog--> 
        </div>

        <div id="open_navi">
            <div onclick="cntrl_index.scrollMyGifts('back')" class="prev"></div>
            <div onclick="cntrl_index.scrollMyGifts('forward')" class="next"></div>
        </div>
    </div>
</div>
