<div class="avatar_cnt">
    <img id="main_avatar" src="" style="width: 190px; height: 190px;">
</div>
<nav>
    <ul class="left_menu">
        <li id="nav_index" class="gft_mnu">
            <a href="#" onclick="cntrl_index.show()">
                Главная
            </a>
        </li>
        <li id="nav_friends" class="gft_mnu">
            <a href="#" onclick="cntrl_friends.show()">
                Мои друзья
            </a>
        </li>
    </ul>

    <div class="balance">
        <span class="str" id="user_balance"></span> 
        <a href="#balance_window" class="increase_balance">пополнить</a> 
    </div>
</nav>
